*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --num-columns: 16;
  --num-rows: 9;
}

body {
  background-color: aliceblue;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

.back-btn {
  position: absolute;
  left: 40px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  font-size: 1.8rem;
  padding: 20px 30px;
  cursor: pointer;
}

.fa-arrow-left {
  font-size: 2.5rem;
  color: black;
}

.start-btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.start-link {
  font-size: 2rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.start-link:hover {
  background-color: #bbb;
}

.big-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: #ccc;
  border: double;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-container {
  padding: 0;
}

h1 {
  text-align: center;
}

.game-board {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(var(--num-columns), 2.5rem);
  grid-template-rows: repeat(var(--num-rows), 2.5rem);
}

.bottom-section {
  height: 80px;
}

.board-tile {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(50, 60, 100);
}

.hide {
  display: none;
}

.bottom-section {
  display: flex;
  width: 80%;
  padding: 0px 60px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.reset-btn {
  border: solid 3px #aaa;
  height: 60px;
  padding: 0px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}
.reset-btn:hover {
  background-color: #ddd;
}

.fa-flag,
.fa-bomb {
  color: red;
}

.unselected {
  background-color: #ccc;
  border: solid 1px #666;
  cursor: pointer;
}
.unselected:hover {
  background-color: #bbb;
}
